body {
  font-family: "Roboto" !important;
}
button,
select {
  cursor: pointer;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none !important;
}
.table-responsive table {
  border-radius: 12px !important;
  background: #f3f9ff !important;
  th {
    border-radius: 12px !important;
    background: #f3f9ff !important;
  }
}
.common-button-bg {
  border-radius: var(--roundness-round-inside, 6px);
  background: #006875;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.error {
  color: red;
}
.copy-write-contaier {
  position: absolute;
  bottom: 2rem;
  color: #99a7bf;
  text-align: center;
  font-family: Roboto;
  font-size: 11.11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 144.014% */
}
.term-condition {
  text-decoration: underline;
  cursor: pointer;
}
.logo-image-container {
  min-height: 100vh;
  background-image: url("../assets/images/Header.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo {
  padding: 2rem 3rem;
  color: #fff;
}
.logo {
  h4 {
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
  }
  span {
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 140% */
  }
}
.login-field-group {
  display: flex;
  justify-content: center;
}
.copy-write-container {
  display: flex;
  justify-content: center;
  // padding-bottom: 1rem;
}
.verification-conatiner {
  height: 100%;
}
.filter-button {
  border-radius: var(--roundness-round-inside, 6px);
  background: #2e3030;
  padding: 5px 8px;
  font-size: 14px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  &:hover {
    background: #2e3030;
  }
}
.confirm-button {
  border-radius: var(--roundness-round-inside, 6px);
  background: #13b370;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.cancel-button {
  border-radius: var(--roundness-round-inside, 6px);
  background: #dc5b32;
  color: #fff;
  /* Shadow/XSM */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.warning-button {
  border-radius: var(--roundness-round-inside, 6px);
  background: #ffbc3a;
  color: #fff;
  /* Shadow/XSM */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

// Card Radio button Css start

.page {
  background-color: #ddecee;
}
.card-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13.33px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}
.head-text {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}
.card-id {
  color: #68727d;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-blue: #0a77ff;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: "";
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--color-blue);
      border-color: var(--color-blue);
    }
  }

  .card:hover .radio {
    border-color: var(--color-dark-gray);

    &:checked {
      border-color: var(--color-blue);
    }
  }
}

.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.radio:checked ~ .plan-details {
  border-color: var(--color-blue);
}

.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.card:hover .radio:disabled {
  border-color: var(--color-gray);
}

.plan-type {
  color: #252525;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Payment card Css
.payment-card {
  width: 100%;
  padding: 15px;
  background: #f3f9ff;
  border-left: 1px #eaebf0 solid;
  border-right: 1px #eaebf0 solid;
  border-bottom: 1px #eaebf0 solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}
.head-name {
  color: #252525;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}
.subhead-name {
  color: #68727d;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}
.card-table-new {
  width: 100%;
  height: 100%;
  padding: 12px;
  background: white;
  border-top: 1px #eaebf0 solid;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
.right-txt {
  color: #68727d;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.left-txt {
  width: 150px;
  text-align: right;
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.file-container {
  border: var(--tblr-border-width) dashed var(--tblr-border-color);
  margin: 0 1.3rem;
  padding: 1rem;
}
.filter-icon {
  width: 100%;
  height: 100%;
  padding: 12px;
  background: #2e3030;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: inline-flex;
}
.upload-filename {
  margin: 1rem 1.3rem;
  display: flex;
}

.close-icon {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

// New Css

.frame-427319790,
.frame-427319790 * {
  box-sizing: border-box;
}
.frame-427319790 {
  background: #f7f9fb;
  border-radius: 6px;
  border-style: solid;
  border-color: #eaebf0;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-427319789 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.service {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.section-title {
  color: #6e7070;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13.329999923706055px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.frame-427319788 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-427319786 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #2176ff;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  position: relative;
}
.category {
  color: #2176ff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.indication {
  background: #2176ff;
  border-radius: 33px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
}
.text {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: relative;
  width: 13px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.linear-arrows-alt-arrow-right {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.frame-427319787 {
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  position: relative;
}
.category2 {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.indication2 {
  background: #68727d;
  border-radius: 33px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
}
.linear-arrows-alt-arrow-right2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.customer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-4273197862 {
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  position: relative;
}
.linear-arrows-alt-arrow-right3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.linear-arrows-alt-arrow-right4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.booking {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.linear-arrows-alt-arrow-right5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.linear-arrows-alt-arrow-right6 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.frame-4273197882 {
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 260px;
  position: relative;
}
.linear-arrows-alt-arrow-right7 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}

.frame-427319784,
.frame-427319784 * {
  box-sizing: border-box;
}
.frame-427319784 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #eaebf0;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.components-selection-item {
  background: var(--gray-200, #e9ecef);
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-427319782 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-427319783 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.category {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.yacht-boat-heli-tour {
  color: var(--body-text-body-color, #212529);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.icon-wrapper {
  background: var(--hit-box, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.width-change-size-here {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.ignore {
  flex-shrink: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(0, 0);
}
.icon-wrapper-h {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.height-change-size-here {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  overflow: hidden;
}
.icon-wrapper2 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.vendor {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.salma-international-uber-marine-company-ghanayem-el-khair {
  color: var(--body-text-body-color, #212529);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.icon-wrapper3 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.status {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.completed-unsuccessful {
  color: var(--body-text-body-color, #212529);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.icon-wrapper4 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}

.comingSoon {
  position: relative;
  text-align: center;
  top: 350px;
  font-size: 81px;
  color: #123499;
}

// Cancellation model Css
.frame-11232,
.frame-11232 * {
  box-sizing: border-box;
}
.frame-11232 {
  background: #ffffff;
  width: 680px;
  height: 770px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.frame-11251 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  top: 30px;
}
.checkbox-group-base {
  border-radius: 12px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.frame-11191 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.subtitle {
  color: var(--text-icons-light-base-second, #68727d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
}
.headline {
  color: var(--text-icons-light-base-main, #252525);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.frame-11248 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11220 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.subtitle2 {
  color: var(--text-icons-light-base-second, #68727d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.status-requests {
  background: #ffbc3a;
  border-radius: var(--roundness-round-inside, 6px);
  padding: var(--main-system-8-px, 8px) var(--main-system-12-px, 12px)
    var(--main-system-8-px, 8px) var(--main-system-12-px, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--main-system-6-px, 6px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  position: relative;
  box-shadow: var(
    --shadow-xsm-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.04)
  );
  overflow: hidden;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13.329999923706055px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  right: 15px;
}
.frame-11230 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sa-65-sfg-56-f-2 {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-112322 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._08-oct-2022-08-20-am {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.vector-6 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-11249 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11224 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.registered {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11226 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phone {
  color: var(--text-icons-light-base-second, #68727d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
._97455682545 {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11227 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.shaheel-098-gmail-com {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.vector-9 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-11250 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11228 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.hot-air-balloon {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11231 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.kuwait {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11233 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._08-oct-2022 {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11234 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._08-00-09-30 {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-11235 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1-5-hrs {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.vector-8 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11189 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-11187 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.total {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
._2-50-kwd {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: right;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-11188 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.service-fee {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
._0-50-kwd {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: right;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-111892 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.collection-delivery {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
._1-50-kwd {
  color: linear-gradient(to left, #858c95, #858c95),
    linear-gradient(to left, #323539, #323539);
  text-align: right;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.frame-11186 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paid {
  color: var(--gray-700, #323539);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
._4-50-kwd {
  color: var(--gray-700, #323539);
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.vector-10 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.checkbox-text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.checkbox-text2 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text-container2 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.payment-method {
  color: #68727d;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-11184 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.master-card {
  color: var(--gray-700, #323539);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  width: 120px;
}
.xxxx-9299 {
  color: var(--gray-700, #323539);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
}
.frame-11252 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #f6513b;
  border-radius: var(--roundness-round-inside, 6px);
  padding: var(--main-system-16-px, 16px) var(--main-system-24-px, 24px)
    var(--main-system-16-px, 16px) var(--main-system-24-px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--main-system-8-px, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: var(
    --shadow-xsm-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.04)
  );
}
.text2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 19.200000762939453px;
  line-height: 22px;
  font-weight: 600;
  position: relative;
}
.button2 {
  background: #40c77e;
  border-radius: var(--roundness-round-inside, 6px);
  padding: var(--main-system-16-px, 16px) var(--main-system-24-px, 24px)
    var(--main-system-16-px, 16px) var(--main-system-24-px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--main-system-8-px, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: var(
    --shadow-xsm-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.04)
  );
}
.close-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 40px;
  top: 30px;
  overflow: visible;
}

.service-disable-button {
  background-color: #75797f !important;
  border-color: #75797f !important;
  pointer-events: none;
}

.personal_details .card_header_contents {
  font-size: 13px;
}

.personal_details .card_header_contents {
  margin-right: 5px;
  // padding-bottom: 1rem;
}
.personal_details .card_content {
  padding-top: 10px !important;
}

body {
  background-color: #ddecee;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.typography-dicount-view {
  overflow: hidden;
  color: #68727d;
  font-feature-settings: "clig" off, "liga" off;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.discount-input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.discount-input:focus {
  border: none;
  box-shadow: 0 0 0 3px rgb(112, 112, 241);
}

.booking-confirmed {
  color: #08a747;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  letter-spacing: -0.2px;
  text-transform: capitalize;
}

.call_customer_button {
  background-color: #fff;
  width: 200px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  height: 45px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_button_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
}

.page-wrapper_mobile {
  background: #ddecee;
  margin-left: 0;
}

.vendor_info_new {
  font-size: 14px;
  line-height: 25px;
  display: flex;
  padding: 0px 30px 0px 30px;
  justify-content: space-between;
}

.overflow-scroll-container {
  padding: 5px;
  width: 100%;
  height: 50vh;
  overflow: scroll;
}

.left_header_new {
  border-radius: 2px;
  background: radial-gradient(
    1436.15% 56.58% at 10.92% 35.35%,
    #168d9c 0%,
    #006875 100%
  );
  // height: 110px;
  font-size: 17px;
}

.call_vendor_button_customer {
  background-color: black;
  width: 45%;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  height: 45px;
}
.call_customer_button_customer:hover {
  background-color: white;
  color: black;
}
.hover-background:hover {
  opacity: 0.6;
}

optgroup {
  border-top: 1px solid #000; /* Add a border between optgroups */
  margin-top: 10px; /* Add some spacing between optgroups */
}

.ql-snow {
  // border:1px solid black;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-left: 10px !important;
  }
}

.status_dropdown .form-select {
  --tblr-form-select-bg-img: url("/assets/images/down-arrow.png");
}

.location-list-container {
  border: 1px solid #ccc;
}
.location-list-item {
  background-color: #fff;
  border-radius: 5px;
}
.embed-data {
  word-break: break-all;
}
