@import "vendormanagement.scss";
@import "common.scss";

body{
  background-color: #DDECEE;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.typography-dicount-view{
  overflow: hidden;
color: #68727D;
font-feature-settings: 'clig' off, 'liga' off;
text-overflow: ellipsis;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.discount-input{
  width:90%;
  height:30px;
  border-radius:5px;
  border:1px solid lightgray;
  outline: none;
}

.discount-input:focus{
  border:none;
  box-shadow: 0 0 0 3px rgb(112, 112, 241)
}

.booking-confirmed{
color: #08A747;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 160% */
letter-spacing: -0.2px;
text-transform: capitalize;
}

.call_customer_button {
  background-color: #fff;
  width: 200px;
  color: black;
  font-weight: 700;
  border-radius: 6px;
  height: 45px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.bottom_button_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
}

.page-wrapper_mobile {
  background: #ddecee;
  margin-left: 0;
}

.vendor_info_new {
  font-size: 14px;
  line-height: 25px;
  display: flex;
  padding: 0px 30px 0px 30px;
  justify-content: space-between;
}

.overflow-scroll-container {
  padding: 5px;
  width: 100%;
  height: 50vh;
  overflow: scroll;
}

.left_header_new {
  border-radius: 2px;
  background: radial-gradient(
    1436.15% 56.58% at 10.92% 35.35%,
    #168d9c 0%,
    #006875 100%
  );
  height: 110px;
  font-size: 17px;
}

.call_vendor_button_customer{
  background-color: black;
  width: 200px;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  height: 45px;
}
.call_customer_button_customer:hover{
  background-color: white;
  color: black;
}
.hover-background:hover{
  opacity: 0.6;
}

